  <div class="container">
    <canvas id = "player_face_{{player.id}}" class="player_face"></canvas>
    <label id = "player_chip_value_{{player.id}}">${{player.money}}</label>
    <canvas id = "player_hand_{{player.id}}" class="player_hand"></canvas>
    <!-- if player is active at the moment, show button.  This will change to show button if player is the one logged in -->
    <!-- *ngIf = "player.id === activePlayer.id" -->
    <app-decision  [activePlayers] = "activePlayers" [players] = "players" [player] = "player" [activePlayer] = "activePlayer" [currentBet] = "currentBet" [callAmount] = "callAmount" [potAmount] = "potAmount" (activePlayerEvent) = "getActivePlayer($event)" (betPlacedEvent) = "getBetAmount($event)" (foldCardsEvent) = "foldCards()" *ngIf="player.id === activePlayer.id"></app-decision>
  </div>
